{
	"extends": "@martin-kolarik/eslint-config",
	"globals": {
		"atom": true
	},
	"rules": {
		"node/no-missing-import": [
			"error",
			{
				"allowModules": [
					"atom"
				]
			}
		]
	},
	"plugins": [
		"html"
	]
}
